// .layout {
//   display: flex;
//   height: 100vh;

// }

// app-sidebar-user {
//   width: 200px;
//   flex-shrink: 0;
// }

// .main-area {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   background-color: #ffffff;
// }

// .top-navbar {
//   height: 60px;
//   background-color: #E5386D;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 20px;
// }

// .main-content {
//  padding: 20px;
//  margin-left: 90px;
// }
.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
}

.top-navbar {
  background-color: #E5386D;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
 padding: 20px;
 margin-left: 90px;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #FFE4EC;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  text-align: center;

  h3 {
    margin-bottom: 10px;
    color: #E5386D;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

.graphs {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  .graph-box {
    flex: 1;
    background-color: #fff;
    border-radius: 15px;
    height: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
  }
}

.lower-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;

  .table-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    height: 250px;
    overflow-y: auto;

    h3 {
      margin-bottom: 10px;
      color: #E5386D;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        background-color: #FFBDCB;
        color: #fff;
        padding: 8px;
      }

      td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}
