.layout {
  display: flex;
  height: 100vh;

}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.top-navbar {
  height: 60px;
  background-color: #E5386D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-content {
 padding: 20px;
 margin-left: 90px;
}
