<app-sidebar-user></app-sidebar-user>
<div class="layout">


  <div class="main-area">
    <div class="main-content">
    <header class="top-navbar">
      <h1>Dashboard</h1>
    </header>
    </div>

    <div class="main-content">
      <div class="top-cards">
        <div class="card"><h3>สินค้าทั้งหมด</h3><p>128</p></div>
        <div class="card"><h3>สินค้าใกล้หมด</h3><p>12</p></div>
        <div class="card"><h3>สินค้าใกล้หมดอายุ</h3><p>5</p></div>
        <div class="card"><h3>ยอดขายวันนี้</h3><p>฿4,520</p></div>
      </div>

      <div class="graphs">
        <div class="graph-box">กราฟยอดขาย</div>
        <div class="graph-box">แจ้งเตือนล่าสุด</div>
      </div>

            <div class="lower-section">
        <div class="table-box">
          <h3>สินค้าใกล้หมด</h3>
          <table>
            <tr><th>สินค้า</th><th>คงเหลือ</th></tr>
            <tr><td>ไอศกรีมโคนวานิลลา</td><td>6</td></tr>
            <tr><td>Chocolate Bar</td><td>9</td></tr>
          </table>
        </div>

        <div class="table-box">
          <h3>สินค้าใกล้หมดอายุ</h3>
          <table>
            <tr><th>สินค้า</th><th>วันหมดอายุ</th></tr>
            <tr><td>นมสด 2L</td><td>2025-12-10</td></tr>
            <tr><td>วิปครีม</td><td>2025-12-15</td></tr>
          </table>
        </div>

    </div>
  </div>
</div>
<!-- <app-sidebar-user></app-sidebar-user>
<div class="layout">

  <div class="main-area">
    <header class="top-navbar">
      <h1>🍦 Ice Cream Stock Dashboard</h1>
    </header>

    <div class="main-content">
      
      <div class="top-cards">
        <div class="card"><h3>สินค้าทั้งหมด</h3><p>128</p></div>
        <div class="card"><h3>สินค้าใกล้หมด</h3><p>12</p></div>
        <div class="card"><h3>สินค้าใกล้หมดอายุ</h3><p>5</p></div>
        <div class="card"><h3>ยอดขายวันนี้</h3><p>฿4,520</p></div>
      </div>

    
      <div class="graphs">
        <div class="graph-box">กราฟยอดขาย</div>
        <div class="graph-box">แจ้งเตือนล่าสุด</div>
      </div>

  
      <div class="lower-section">
        <div class="table-box">
          <h3>สินค้าใกล้หมด</h3>
          <table>
            <tr><th>สินค้า</th><th>คงเหลือ</th></tr>
            <tr><td>ไอศกรีมโคนวานิลลา</td><td>6</td></tr>
            <tr><td>Chocolate Bar</td><td>9</td></tr>
          </table>
        </div>

        <div class="table-box">
          <h3>สินค้าใกล้หมดอายุ</h3>
          <table>
            <tr><th>สินค้า</th><th>วันหมดอายุ</th></tr>
            <tr><td>นมสด 2L</td><td>2025-12-10</td></tr>
            <tr><td>วิปครีม</td><td>2025-12-15</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
