// .layout {
//   display: flex;
//   height: 100vh;

// }

// app-sidebar-user {
//   width: 200px;
//   flex-shrink: 0;
// }

// .main-area {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   background-color: #ffffff;
// }

// .top-navbar {
//   height: 60px;
//   background-color: #E5386D;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 20px;
// }

// .main-content {
//  padding: 20px;
//  margin-left: 90px;
// }
.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
}

.top-navbar {
  background-color: #E5386D;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
 padding: 20px;
 margin-left: 90px;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // repeat(n, 1fr) แสดงจำนวนช่อง
  gap: 20px;

}

.card {
  background-color: #FFD6E0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  text-align: center;

  h3 {
    margin-bottom: 10px;
    color: #E5386D;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

.graphs {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  .graph-box {
    flex: 1;
    background-color: #fff;
    border-radius: 15px;
    height: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
  }
}

.main-content p-table{
  margin-top: 10px;
}

.main-content p-table th, 
.main-content p-table td {
  text-align: center;
  padding: 11px; /* เพิ่มระยะห่างระหว่างข้อความ */
  border-bottom: #e2e2e2;
  // border-bottom: 2px solid #e2e2e2; /* Change the color of the bottom border */
}

.main-content p-table th {
  background-color: #FFD6E0; /* สีพื้นหลังของหัวตาราง */
  font-size: 20px;
  font-weight: bold;
  color: #E5386D;
}

.main-content p-table td {
  font-size: 20px;
}

::ng-deep .p-datatable tbody tr:nth-child(odd) td {
  background-color: #E5386D !important; /* สีแถวที่ 1,3,5... */
  color: white;
}

::ng-deep .p-datatable tbody tr:nth-child(even) td {
  background-color: #FFD6E0 !important; /* สีแถวที่ 2,4,6... */
}

/* ปรับแต่ง border และ padding เหมือนเดิม */
::ng-deep .p-datatable tbody td {
  text-align: center;
  padding: 12px;
  border-bottom: #e2e2e2;
}

.table-box {
  padding: 20px;
  background: #FFD6E0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-top: 20px;
  height: 450px; 
}
