.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
}

.top-navbar {
  background-color: #E5386D;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
 padding: 20px;
 margin-left: 90px;
}

.main-content p-table{
  margin-top: 40px;
}

.main-content p-table th, 
.main-content p-table td {
  text-align: center;
  padding: 12px; /* เพิ่มระยะห่างระหว่างข้อความ */
  border-bottom: #e2e2e2;
  // border-bottom: 2px solid #e2e2e2; /* Change the color of the bottom border */
}

.main-content p-table th {
  background-color: #FFD6E0; /* สีพื้นหลังของหัวตาราง */
  font-size: 30px;
  font-weight: bold;
}

.main-content p-table td {
  font-size: 23px;
}

::ng-deep .p-datatable tbody tr:nth-child(odd) td {
  background-color: #E5386D !important; /* สีแถวที่ 1,3,5... */
  color: white;
}

::ng-deep .p-datatable tbody tr:nth-child(even) td {
  background-color: #FFD6E0 !important; /* สีแถวที่ 2,4,6... */
}

/* ปรับแต่ง border และ padding เหมือนเดิม */
::ng-deep .p-datatable tbody td {
  text-align: center;
  padding: 12px;
  border-bottom: #e2e2e2;
}

