<app-sidebar-user></app-sidebar-user>

<div class="layout">
  <div class="main-area">
    <div class="main-content">

      <header class="top-navbar">
        <h1>Inventory</h1>
      </header>

      <div class="table-box">

        <div class="header-row" style="display: flex; align-items: center; justify-content: space-between; width: 100%">
          <h1 style="color: #D81B60;">List of Products</h1>
        <!-- ช่องค้นหา ย้ายมาอยู่นอก p-table -->
  <div class="flex" style="display: flex; align-items: center; gap: 10px;">
    <span class="p-input-icon-left search-wrapper">
      <i class="pi pi-search"></i>
      <input pInputText type="text" placeholder="Search products"
             (input)="dt.filterGlobal($event.target.value, 'contains')" />
    </span>
  </div>     
 </div>

        <p-table #dt [value]="filteredProducts" [rows]="10"
          [globalFilterFields]="['name','category','quantity','price']" [tableStyle]="{'table-layout': 'fixed', 'width': '100%'}" [scrollable]="true" scrollHeight="550px">

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                <div class="flex items-center gap-2">
                  Name
                  <p-sortIcon field="name"></p-sortIcon>
                </div>
              </th>

              <th pSortableColumn="category">
                <div class="flex items-center gap-2">
                  Category
                  <p-sortIcon field="category"></p-sortIcon>
                </div>
              </th>

              <th pSortableColumn="quantity">
                <div class="flex items-center gap-2">
                  Quantity
                  <p-sortIcon field="quantity"></p-sortIcon>
                </div>
              </th>

              <th pSortableColumn="price">
                <div class="flex items-center gap-2">
                  Price
                  <p-sortIcon field="price"></p-sortIcon>
                </div>
              </th>
              <th style="width: 12%"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr>
              <td>
                <ng-container *ngIf="editIndex !== i; else editName">
                  {{ product.name }}
                </ng-container>
                <ng-template #editName>
                  <input type="text" [(ngModel)]="editProduct.name" />
                </ng-template>
              </td>

              <td>
                <ng-container *ngIf="editIndex !== i; else editCategory">
                  {{ product.category }}
                </ng-container>
                <ng-template #editCategory>
                  <input type="text" [(ngModel)]="editProduct.category" />
                </ng-template>
              </td>

              <td>
                <ng-container *ngIf="editIndex !== i; else editQty">
                  {{ product.quantity }}
                </ng-container>
                <ng-template #editQty>
                  <input type="number" [(ngModel)]="editProduct.quantity" min="0" />
                </ng-template>
              </td>

              <td>
                <ng-container *ngIf="editIndex !== i; else editPrice">
                  {{ product.price }}
                </ng-container>
                <ng-template #editPrice>
                  <input type="number" [(ngModel)]="editProduct.price" min="0" />
                </ng-template>
              </td>

              <td style="display: flex; gap: 8px; align-items: center;">
                <button class="btn-edit" (click)="onEdit(i)" *ngIf="editIndex !== i">
                  <i class="pi pi-pen-to-square"></i>
                </button>

                <button class="btn-save" (click)="onSave(i)" *ngIf="editIndex === i">
                  <i class="pi pi-check-square"></i>
                </button>

                <button class="btn-cancel" (click)="onCancel()" *ngIf="editIndex === i">
                  <i class="bi bi-x-square"></i>
                </button>
              </td>

            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No products found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
