.layout {
  display: flex;
  height: 100vh;
  // overflow: hidden;
}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
}

.top-navbar {
  background-color: #D81B60;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  padding: 20px;
  margin-left: 90px;
}

.main-content p-table {
  margin-top: 30px;
}

.main-content p-table th,
.main-content p-table td {
  text-align: center;
  padding: 11px;
  /* เพิ่มระยะห่างระหว่างข้อความ */
  border-bottom: #e2e2e2;
  // border-bottom: 2px solid #e2e2e2; /* Change the color of the bottom border */
}

.main-content p-table th {
  background-color: #FFD6E0;
  /* สีพื้นหลังของหัวตาราง */
  font-size: 30px;
  font-weight: bold;
  color: #D81B60;
}

.main-content p-table td {
  font-size: 23px;
}

::ng-deep .p-datatable tbody tr:nth-child(odd) td {
  background-color: #D81B60 !important;
  /* สีแถวที่ 1,3,5... */
  color: white;
}

::ng-deep .p-datatable tbody tr:nth-child(even) td {
  background-color: #FFD6E0 !important;
  /* สีแถวที่ 2,4,6... */
}

/* ปรับแต่ง border และ padding เหมือนเดิม */
::ng-deep .p-datatable tbody td {
  text-align: center;
  padding: 12px;
  border-bottom: #e2e2e2;
}

.table-box {
  padding: 20px;
  background: #FFD6E0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  height: 680px;
  
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 20px;
}

.title {
  color: #D81B60;
  margin: 0;
}

::ng-deep .p-multiselect-panel {
  position: fixed !important;
  z-index: 99999 !important;

  /* ป้องกันเต็มหน้าจอ */
  width: max-content !important;
  max-width: 300px !important;
  left: auto !important;
}

// .btn-edit {
//   background: #1E3A8A;
//   color: rgb(255, 255, 255);
//   font-size: 23px;
//   border: none;
//   padding: 7px;
//   border-radius: 10px;

//   cursor: pointer;
// }

// .btn-save {
//   background: #1e8a39;
//   color: rgb(255, 255, 255);
//   border: none;
//   font-size: 23px;
//   padding: 7px;
//   border-radius: 10px;
//   cursor: pointer;
// }
.btn-edit,
.btn-save,
.btn-cancel {
  display: inline-flex;           
  justify-content: center;
  align-items: center;
  width: 130px;                  
  font-size: 23px;                
  padding: 7px;                 
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  border: 2px solid white;
  gap: 10px;
}

/* สีเฉพาะของแต่ละปุ่ม */
.btn-edit {
  background: #1E3A8A;
}

.btn-save {
  background: #1e8a39;
}
.btn-cancel {
  background: #d21515;
}

/* input type number และ text */
input[type="text"]
{
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 23px;
  text-align: center; /* ตัวเลขตรงกลาง */
}

input[type="number"] {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 23px;
  text-align: center; /* ตัวเลขตรงกลาง */
}

// /* ซ่อนปุ่ม spin ของ number input */
// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

/* เน้นแถวที่กำลังแก้ไข */
tr.editing {
  background-color: #fff3cd;
}

.layout {
  display: flex;
  height: 100vh;
  // overflow: hidden;
}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
}

.top-navbar {
  background-color: #D81B60;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  padding: 20px;
  margin-left: 90px;
}

.main-content p-table {
  margin-top: 30px;
}

.main-content p-table th,
.main-content p-table td {
  text-align: center;
  padding: 11px;
  /* เพิ่มระยะห่างระหว่างข้อความ */
  border-bottom: #e2e2e2;
  // border-bottom: 2px solid #e2e2e2; /* Change the color of the bottom border */
}

.main-content p-table th {
  background-color: #FFD6E0;
  /* สีพื้นหลังของหัวตาราง */
  font-size: 30px;
  font-weight: bold;
  color: #D81B60;
}

.main-content p-table td {
  font-size: 23px;
}

::ng-deep .p-datatable tbody tr:nth-child(odd) td {
  background-color: #D81B60 !important;
  /* สีแถวที่ 1,3,5... */
  color: white;
}

::ng-deep .p-datatable tbody tr:nth-child(even) td {
  background-color: #FFD6E0 !important;
  /* สีแถวที่ 2,4,6... */
}

/* ปรับแต่ง border และ padding เหมือนเดิม */
::ng-deep .p-datatable tbody td {
  text-align: center;
  padding: 12px;
  border-bottom: #e2e2e2;
}

.header-row {
  display: flex;
  justify-content: space-between;
  /* จัดซ้าย-ขวา */
  align-items: center;
  /* ให้ปุ่มอยู่ระดับเดียวกับหัวข้อ */
  margin-bottom: 20px;
}

.title {
  color: #D81B60;
  margin: 0;
}

::ng-deep .p-multiselect-panel {
  position: fixed !important;
  z-index: 99999 !important;

  /* ป้องกันเต็มหน้าจอ */
  width: max-content !important;
  max-width: 300px !important;
  left: auto !important;
}

// .btn-edit {
//   background: #1E3A8A;
//   color: rgb(255, 255, 255);
//   font-size: 23px;
//   border: none;
//   padding: 7px;
//   border-radius: 10px;

//   cursor: pointer;
// }

// .btn-save {
//   background: #1e8a39;
//   color: rgb(255, 255, 255);
//   border: none;
//   font-size: 23px;
//   padding: 7px;
//   border-radius: 10px;
//   cursor: pointer;
// }
.btn-edit,
.btn-save,
.btn-cancel {
  display: inline-flex;           
  justify-content: center;
  align-items: center;
  width: 130px;                  
  font-size: 23px;                
  padding: 7px;                 
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  border: 2px solid white;
  gap: 10px;
}

/* สีเฉพาะของแต่ละปุ่ม */
.btn-edit {
  background: #1E3A8A;
}

.btn-save {
  background: #1e8a39;
}
.btn-cancel {
  background: #d21515;
}

/* input type number และ text */
input[type="text"]
{
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 23px;
  text-align: center; /* ตัวเลขตรงกลาง */
}

input[type="number"] {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 23px;
  text-align: center; /* ตัวเลขตรงกลาง */
}

// /* ซ่อนปุ่ม spin ของ number input */
// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

/* เน้นแถวที่กำลังแก้ไข */
tr.editing {
  background-color: #fff3cd;
}

.search-wrapper {
  position: relative;
  width: 250px;               /* กำหนดความกว้างตามต้องการ */
  margin-right: auto;         /* เลื่อนช่องค้นหาไปด้านขวา */
  
}

.search-wrapper input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1rem; /* เผื่อพื้นที่ icon ด้านซ้าย */
  border: 1px solid #ccc;     /* เส้นขอบบาง ๆ สีเทา */
  border-radius: 7px;         /* มุมโค้งมน */
  font-size: 1rem;
  outline: none;
  box-shadow: none;
  text-align: center;
  transition: border-color 0.3s ease;
}


.search-wrapper .pi-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;       /* ให้คลิกผ่าน icon ได้ */
  font-size: 1.2rem;
}
