<div class="register-page">
  <div class="register-card">
    <h1>สมัครสมาชิก</h1>

    <!-- Error -->
    <!-- <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div> -->

    <!-- Success -->
    <p *ngIf="successMessage" class="success">
      {{ successMessage }}
    </p>

    <form (ngSubmit)="register()">

      <!-- Username -->
      <div class="password-wrapper">
        <input
          type="text"
          name="username"
          [(ngModel)]="Username"
          required
          placeholder="ชื่อผู้ใช้"
        />
      </div>

      <!-- Password -->
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          [(ngModel)]="Password"
          required
          placeholder="ป้อนรหัสผ่าน"
        />

        <i
          class="bi"
          [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="togglePassword()"
        ></i>
      </div>

      <!-- Confirm Password -->
      <div class="password-wrapper">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          name="confirmPassword"
          [(ngModel)]="ConfirmPassword"
          required
          placeholder="ยืนยันรหัสผ่าน"
        />

        <i
          class="bi"
          [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="toggleConfirmPassword()"
        ></i>
      </div>

      <!-- Role -->
      <!-- <div class="password-wrapper">
        <select [(ngModel)]="role" name="role">
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div> -->

      <p *ngIf="errorMessage" style="color: red">
        {{ errorMessage }}
      </p>

      <!-- Button -->
      <button type="submit" class="btn-singin">
        ลงทะเบียน
      </button>
    </form>

    <!-- Link Login -->
    <div class="login-link">
      มีบัญชีแล้ว ?
      <a [routerLink]="['/login']">เข้าสู่ระบบ</a>
    </div>
  </div>
</div>
