<app-sidebar-user></app-sidebar-user>

<div class="layout">

  <!-- Main content -->
  <div class="main-area">
    <div class="main-content">
      <header class="top-navbar">
        <h1>History</h1>
      </header>


      <!-- ✅ ใส่ table ในกล่อง table-box -->

      <div class="table-box">
        <div class="header-row">
          <h1 class="title">List of History Products</h1>

          <button type="submit" class="btn-excel">
            <i class="bi bi-filetype-xlsx"></i></button>
        </div>

        <!-- <th pSortableColumn="code" style="width:16.66%">
          <div class="flex items-center gap-2">
            Code
            <p-sortIcon field="code" />
          </div>
        </th> -->
        <p-table [value]="filteredProducts" [scrollable]="true" scrollHeight="500px"
          [tableStyle]="{'table-layout': 'fixed', 'width': '100%'}">

          <ng-template pTemplate="header">
            <tr>
              <!-- <th pSortableColumn="code" style="width:16.66%">
                <div class="flex items-center gap-2">
                  Code
                  <p-sortIcon field="code" />
                </div>
              </th> -->

              <th pSortableColumn="name" style="width:20%">
                <div class="flex items-center gap-2">
                  Name
                  <p-sortIcon field="name" />
                </div>
              </th>

              <th pSortableColumn="category" style="width:20%">
                <div class="flex items-center gap-2">
                  Category
                  <p-sortIcon field="category" />
                </div>
              </th>

              <th pSortableColumn="quantity" style="width:20%">
                <div class="flex items-center gap-2">
                  Quantity
                  <p-sortIcon field="quantity" />
                </div>
              </th>

              <th pSortableColumn="price" style="width:20%">
                <div class="flex items-center gap-2">
                  Price
                  <p-sortIcon field="price" />
                </div>
              </th>

              <th style="width:10%">
                <div class="flex items-center gap-2"></div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr>
              <!-- Name -->
              <td>
                <ng-container *ngIf="editIndex !== i; else editName">
                  {{ product.name }}
                </ng-container>
                <ng-template #editName>
                  <input type="text" [(ngModel)]="editProduct.name" />
                </ng-template>
              </td>

              <!-- Category -->
              <td>
                <ng-container *ngIf="editIndex !== i; else editCategory">
                  {{ product.category }}
                </ng-container>
                <ng-template #editCategory>
                  <input type="text" [(ngModel)]="editProduct.category" />
                </ng-template>
              </td>

              <!-- Quantity -->
              <td>
                <ng-container *ngIf="editIndex !== i; else editQty">
                  {{ product.quantity }}
                </ng-container>
                <ng-template #editQty>
                  <input type="number" [(ngModel)]="editProduct.quantity"  min="0"/>
                </ng-template>
              </td>

              <!-- Price -->
              <td>
                <ng-container *ngIf="editIndex !== i; else editPrice">
                  {{ product.price }}
                </ng-container>
                <ng-template #editPrice>
                  <input type="number" [(ngModel)]="editProduct.price"  min="0"/>
                </ng-template>
              </td>

              <!-- ปุ่ม -->
          <td style="display: flex; gap: 8px; align-items: center;">
            <!-- Edit -->
            <button class="btn-edit" (click)="onEdit(i)" *ngIf="editIndex !== i">
              <i class="pi pi-pen-to-square"></i>
            </button>

            <!-- Save -->
            <button class="btn-save" (click)="onSave(i)" *ngIf="editIndex === i">
              <i class="pi pi-check-square"></i>
            </button>

            <!-- Cancel -->
            <button class="btn-cancel" (click)="onCancel()" *ngIf="editIndex === i">
              <i class="bi bi-x-square"></i>
            </button>
          </td>         </tr>
        </ng-template>
      </p-table>

      </div>
      <!-- END table-box -->

    </div>
  </div>

</div>
