.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
}

.top-navbar {
  background-color: #E5386D;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
 padding: 20px;
 margin-left: 90px;
}

.main-content p-table{
  margin-top: 30px;
}

.main-content p-table th, 
.main-content p-table td {
  text-align: center;
  padding: 11px; /* เพิ่มระยะห่างระหว่างข้อความ */
  border-bottom: #e2e2e2;
  // border-bottom: 2px solid #e2e2e2; /* Change the color of the bottom border */
}

.main-content p-table th {
  background-color: #FFD6E0; /* สีพื้นหลังของหัวตาราง */
  font-size: 30px;
  font-weight: bold;
  color: #E5386D;
}

.main-content p-table td {
  font-size: 23px;
}

::ng-deep .p-datatable tbody tr:nth-child(odd) td {
  background-color: #E5386D !important; /* สีแถวที่ 1,3,5... */
  color: white;
}

::ng-deep .p-datatable tbody tr:nth-child(even) td {
  background-color: #FFD6E0 !important; /* สีแถวที่ 2,4,6... */
}

/* ปรับแต่ง border และ padding เหมือนเดิม */
::ng-deep .p-datatable tbody td {
  text-align: center;
  padding: 12px;
  border-bottom: #e2e2e2;
}

.table-box {
  padding: 20px;
  background: #FFD6E0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-top: 20px;
  height: 620px; 
}

.header-row {
  display: flex;
  justify-content: space-between; /* จัดซ้าย-ขวา */
  align-items: center;           /* ให้ปุ่มอยู่ระดับเดียวกับหัวข้อ */
  margin-bottom: 20px;
}

.title {
  color: #E5386D;
  margin: 0;
}

.btn-excel {
  background-color: #008000; 
  color: #fff;
  border: none;
  border-radius: 20px;  
  width: 48px;
  height: 48px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-excel .pi {
  font-size: 28px;
}

.btn-excel:hover {
  background-color: #24a840f2;
}