<button
  class="hamburger"
  style="font-size: 30px"
  (click)="toggleSidebar()"
  [class.collapsed]="isCollapsed"
>
  <i class="bi bi-list"></i>
</button>

<div
  class="sidebar"
  [class.collapsed]="isCollapsed"
  [class.no-anim]="disableAnimation"
>
  <div class="top">
    <ul class="nav-links">
      <!-- Purchase -->
      <li routerLink="/purchase" routerLinkActive="active">
        <a (click)="navigateTo('/purchase')">
          <i class="bi bi-receipt" style="font-size: 30px"></i>
          <span
            class="text"
            [class.show]="!isCollapsed"
            style="font-size: 20px"
          >
            รายการสั่งซื้อ
          </span>
        </a>
      </li>

      <!-- Inventory -->
      <li routerLink="/inventory" routerLinkActive="active">
        <a (click)="navigateTo('/inventory')">
          <i class="bi bi-clipboard2-fill" style="font-size: 30px"></i>
          <span
            class="text"
            [class.show]="!isCollapsed"
            style="font-size: 20px"
          >
            รายการสินค้า
          </span>
        </a>
      </li>

      <!-- History Purchase -->
      <!-- <li routerLink="/historypurchase" routerLinkActive="active">
        <a (click)="navigateTo('/historypurchase')">
          <i class="bi bi-upc-scan" style="font-size: 30px"></i>
          <span
            class="text"
            [class.show]="!isCollapsed"
            style="font-size: 20px"
          >
            ประวัติการสั่งซื้อ
          </span>
        </a>
      </li> -->

      <!-- History -->
      <li routerLink="/history" routerLinkActive="active">
        <a (click)="navigateTo('/history')">
          <i class="bi bi-clock-fill" style="font-size: 30px"></i>
          <span
            class="text"
            [class.show]="!isCollapsed"
            style="font-size: 20px"
          >
            ประวัติการขาย
          </span>
        </a>
      </li>

      <!-- Logout -->
      <li class="logout">
        <a (click)="logout()">
          <i class="bi bi-door-open-fill" style="font-size: 30px"></i>
          <span
            class="text"
            [class.show]="!isCollapsed"
            style="font-size: 20px"
          >
            ออกจากระบบ
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="content" [class.shifted]="!isCollapsed">
  <ng-content></ng-content>
</div>
