<nav class="sidebar">
    <!-- แถบของเมนูแยกกับusername -->
  <div class="top">
     <ul class="nav-links">
        <li routerLinkActive="active">
          <a routerLink=""> <i class="bi bi-house-fill"></i> Home </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink=""> <i class="bi bi-speedometer2"></i> Dashboard </a>
        </li>


        <!-- <li routerLinkActive="active">
          <a routerLink="/production/about-us"> About Us </a>
        </li> -->
      </ul>
  </div>
  <!-- ฝั่งแสดงแถบUsernameและปุ่มlogout -->
  <!-- <div class="bottom">
    <div class="user-info" style="font-size: 18px;"> {{ Employee_Name }} </div>
    <button (click)="logout()" class="logout-btn"><i class="bi bi-box-arrow-right" style="color: red;"></i></button>
  </div> -->
</nav>


