.sidebar {
  position: fixed;
  height: 100vh;
  width: 200px; // ขนาดเต็ม
  background-color: #FFBDCB;
  padding-top: 55px;
  overflow: hidden;
  transition: width 0.3s ease-in-out;

  &.no-anim {
    transition: none !important; // ปิด animation ชั่วคราว
  }

  &.collapsed {
    width: 95px;

    // hover ขยายชั่วคราว
    &:hover {
      width: 200px;

    }
  }
}


.top {
  .nav-links {
    li {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        padding: 10px 15px;     // ระยะคงที่ ไม่ขยับ
        color: rgb(74, 74, 74);
        text-decoration: none;
        transition: background-color 0.2s, color 0.2s;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 20px;

        i {
          font-size: 22px;
          margin-right: 10px;
          text-align: center;
          flex-shrink: 0;
          transition: color 0.2s;
        }

        .text {
          display: inline-block;
          overflow: hidden;
        }

        &:hover {
          background-color: #E5386D;
          border-radius: 20px;
          color: #fff;
          margin-right: 20px;

          i,
          .text {
            color: #fff;
          }
        }
      }

      &.active a {
        background-color: #E5386D;
        color: #fff;
        border-radius: 20px;
        margin-right: 15px;

        i,
        .text {
          color: #fff;
        }
      }
    }
  }
}
