// จัดฝั่งsidebarทั้งหมด
.sidebar {
  height: 100vh;
  width: 200px;
  background-color:#FFBDCB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  // border-right: 0.5px solid rgb(255, 0, 0);



  .top {
    //active ตอนอยู่ในหน้านั้นๆ
    .nav-links li.active a{  
          color: white;
            background-color: #E5386D;
}
    // ปรับแต่งlogo
    .logo {
      font-size: 36px;
      font-weight: bolder;
      text-align: center;
      margin: 10px 0px 10px 0px;

    }


    .nav-links {
      list-style: none;
      margin: auto;
      padding: 0;
      font-size: 18px;
      cursor: pointer;
      // ระยะห่างระหว่างเมนู
      li {
        margin: 5px 0px 20px 0px;



        a {
          color: rgb(74, 74, 74);
          display: block;
          padding: 20px;
          padding-left: 50px;
          // text-align: center;
          text-decoration: none;
          // แสดงการเคลื่อนไหวเมื่อเอาเม้าส์ชี้
           position: relative;
          &:hover {
            color: #ffffff;
            background-color: #E5386D;
          }
          

            //ตัวแจ้งเตือนของ Cart
              span {
              position: absolute;     
              top: 21px;              
              right: 48px;            
              background-color: red;
              color: white;
              padding: 5px;
              border-radius: 10px;
              font-size: 13px;
              min-width: 20px;
              text-align: center;
              line-height: 1;
            }
        }
      }
    }
  }
// ปุ่มlogoutด้่นล่าง
  .bottom {
    display:flex;
    text-align: center;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 20px 0 20px rgba(0,0,0,0.1);
    background-color: #e3effa;

    .logout-btn {
      border: none;
      background: none;
      cursor: pointer;

      i{
        font-size: 25px;
      }

      // &:hover {
      //   background-color: #ed1111;
      //   border-color: transparent;
      // }

    }
  }
}


