.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-sidebar-user {
  width: 200px;
  flex-shrink: 0;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
}

.top-navbar {
  background-color: #d81b60;
  padding: 15px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  padding: 20px;
  margin-left: 90px;
}
