<div class="layout">
  <div class="main-area">
    <div class="main-content">

      <!-- TOP NAV -->
      <header class="top-navbar">
        <h1>จัดการผู้ใช้งาน</h1>
      </header>

      <div class="table-box">

        <!-- HEADER -->
        <div class="header-row">
          <!-- SEARCH -->
          <div class="search-wrapper">
            <i class="pi pi-search"></i>
            <input #searchInput pInputText type="text" placeholder="ค้นหา..."
              (input)="dt.filterGlobal(searchInput.value, 'contains')" />
          </div>

          <button class="btn-add" style="margin-left: auto" (click)="showCreateForm = !showCreateForm">
            <i class="bi bi-plus-circle-fill"></i>
            เพิ่มผู้ใช้
          </button>
        </div>

        <!-- BACKDROP -->
        <div *ngIf="showCreateForm" class="create-backdrop" [class.closing]="isClosing" (click)="onCreateCancel()">
        </div>


        <!-- ===== CREATE CARD ===== -->
        <div *ngIf="showCreateForm" class="create-card" [class.closing]="isClosing">
          <div class="create-card-header">
            <h2>เพิ่มผู้ใช้</h2>
          </div>

          <div class="create-card-body">
            <div class="create-grid">

              <div class="field">
                <label>ชื่อผู้ใช้</label>
                <input type="text" [(ngModel)]="newUser.Username" />
              </div>

              <div class="field">
                <label>รหัสผ่าน</label>
                <input type="password" [(ngModel)]="newUser.Password" />
              </div>

              <div class="field">
                <label>ระดับผู้ใช้</label>
                <select [(ngModel)]="newUser.Role">
                  <option value="" disabled>-- เลือก Role --</option>
                  <option value="Admin">Admin</option>
                  <option value="User">User</option>
                </select>
              </div>

            </div>
          </div>

          <div class="create-card-footer">
            <button class="btn-save btn-form" (click)="onCreateSave()">
              <i class="pi pi-check-square"></i> บันทึก
            </button>

            <button class="btn-cancel btn-form" (click)="onCreateCancel()">
              <i class="bi bi-x-square"></i> ยกเลิก
            </button>
          </div>
        </div>

        <p-table #dt [value]="users" [rows]="10" sortMode="single" [scrollable]="true" scrollHeight="500px" stripedRows
          [globalFilterFields]="['Id','Username','Role']" [tableStyle]="{ width: '100%', 'table-layout': 'fixed' }">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="Id" scope="col">
                รหัส <p-sortIcon field="Id"></p-sortIcon>
              </th>

              <th pSortableColumn="Username" scope="col">
                ชื่อผู้ใช้ <p-sortIcon field="Username"></p-sortIcon>
              </th>

              <th pSortableColumn="Role" scope="col">
                ระดับผู้ใช้ <p-sortIcon field="Role"></p-sortIcon>
              </th>

              <th style="width: 12%" scope="col"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-i="rowIndex">
            <tr>
              <td>{{ user.Id }}</td>

              <td>
                <ng-container *ngIf="editIndex !== i; else editUsername">
                  {{ user.Username }}
                </ng-container>
                <ng-template #editUsername>
                  <input type="text" [(ngModel)]="editUser!.Username" />
                </ng-template>
              </td>

              <td>
                <ng-container *ngIf="editIndex !== i; else editRole">
                  <span class="role-badge" [ngClass]="{
                      admin: user.Role === 'admin' || user.Role === 'Admin',
                      user: user.Role === 'user' || user.Role === 'User'
                    }">
                    {{ user.Role }}
                  </span>
                </ng-container>

                <ng-template #editRole>
                  <select [(ngModel)]="editUser!.Role">
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                  </select>
                </ng-template>
              </td>

              <td class="action-cell">
                <ng-container *ngIf="editIndex !== i">
                  <!-- <button class="btn-edit" (click)="onEdit(i)">
                    <i class="pi pi-pen-to-square"></i>
                  </button> -->

                  <button class="btn-delete" (click)="onDelete(i)">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </ng-container>

                <ng-container *ngIf="editIndex === i">
                  <button class="btn-save" (click)="onSave(i)">
                    <i class="pi pi-check-square"></i>
                  </button>

                  <button class="btn-cancel" (click)="onCancel()">
                    <i class="bi bi-x-square"></i>
                  </button>
                </ng-container>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4" class="empty-message">ไม่พบข้อมูล</td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>
</div>
